1. Cek outlier tiap feature.
2. Misal tidak ada outlier, maka kita scaling pd seluruh feature kecuali target.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# for standardize / normalisasi data
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import Binarizer

In [3]:
# open data
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [5]:
df_test = df[['Price', 'Distance', 'Car', 'Landsize', 'Rooms', 'Bedroom2', 'Bathroom']]
df_test.head()

       Price  Distance  Car  Landsize  Rooms  Bedroom2  Bathroom
0  1480000.0       2.5  1.0     202.0      2       2.0       1.0
1  1035000.0       2.5  0.0     156.0      2       2.0       1.0
2  1465000.0       2.5  0.0     134.0      3       3.0       2.0
3   850000.0       2.5  1.0      94.0      3       3.0       2.0
4  1600000.0       2.5  2.0     120.0      4       3.0       1.0

### Standard Scaler

Digunakan pada data yang berdistribusi normal dan jika data cenderung tidak normal, Standard Scaler akan memaksa data berdistribusi normal.

In [8]:
SScaler = StandardScaler()
Prize_scl = SScaler.fit_transform(df_test[['Price']])
df_test['Prize Std Scl'] = Prize_scl

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
df_test.head()

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157

In [12]:
df_test['Price Std Scl 2'] = StandardScaler().fit_transform(df_test[['Price']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
df_test.head()

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price Std Scl 2
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157

### MinMax Scaler

Minmax Scaler digunakan pada kondisi feature yang tidak ada outliers dan dipakai sebagai cara pertama dalam proses Standardize feature. Bekerja dengan baik jika datanya tidak ada outlier. Karena MinMax Scaler sensitif dengan outlier. MinMax Scaler tidak mengintervensi data agar berdistribusi normal hanya merubah scale-nya saja.

In [15]:
df_test['Price MinMax Sc'] = MinMaxScaler().fit_transform(df_test[['Price']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df_test.head()

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price Std Scl 2,Price MinMax Sc
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938

### MaxAbs Scaler

MaxAbs dipakai ketika datanya tidak ada outlier

In [17]:
df_test['Price MaxAbs Scl'] = MaxAbsScaler().fit_transform(df_test[['Price']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
df_test.head()

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price Std Scl 2,Price MinMax Sc,Price MaxAbs Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778

### Robust Scaler

Robust Scaler di pakai jika feature memiliki data *Outlier*, karena scaler ini *tidak mendasarkan rumusnya dengan mean atau standar deviasi*. Scaler ini dasar teorinya menggunakan *IQR* sehingga lebih tahan (robust) dengan adanya outlier.

In [21]:
df_test['Price Robust Scl'] = RobustScaler().fit_transform(df_test[['Price']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
df_test.head()

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price Std Scl 2,Price MinMax Sc,Price MaxAbs Scl,Price Robust Scl
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444,0.848529
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000,0.194118
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778,0.826471
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444,-0.077941
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778,1.025000

### Normalizer

Sebenarnya untuk row

In [23]:
df_test['Price Norm'] = Normalizer().fit_transform(df_test[['Price']])

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
df_test.head()

,Price,Distance,Car,Landsize,Rooms,Bedroom2,Bathroom,Prize Std Scl,Price Std Scl 2,Price MinMax Sc,Price MaxAbs Scl,Price Robust Scl,Price Norm
0,1480000.0,2.5,1.0,202.0,2,2.0,1.0,0.632448,0.632448,0.156478,0.164444,0.848529,1.0
1,1035000.0,2.5,0.0,156.0,2,2.0,1.0,-0.063640,-0.063640,0.106562,0.115000,0.194118,1.0
2,1465000.0,2.5,0.0,134.0,3,3.0,2.0,0.608984,0.608984,0.154795,0.162778,0.826471,1.0
3,850000.0,2.5,1.0,94.0,3,3.0,2.0,-0.353025,-0.353025,0.085810,0.094444,-0.077941,1.0
4,1600000.0,2.5,2.0,120.0,4,3.0,1.0,0.820157,0.820157,0.169938,0.177778,1.025000,1.0

https://towardsdatascience.com/scale-standardize-or-normalize-with-scikit-learn-6ccc7d176a02

https://medium.com/@rrfd/standardize-or-normalize-examples-in-python-e3f174b65dfc

https://medium.com/predict/standardization-on-crazy-data-python-cd5b1282a97f

## Tugas

- Price adalah target, sehingga tidak perlu di scaling.
- Sedangkan feature Distance, Car, Landsize, Rooms, Bedroom2, Bathroom adalah feature yang harus di-scaling.
- Data NaN (meskipun bukan best practice) dihapus saat sudah menjadi df_test (sudah dipilih feature).
- Gunakan Scaler yang sesuai dengan kondisi data. Cek outliers ada atau tidak.
- Simpan ke dalam dataframe baru yang berisi target (Price) dan feature Distance, Car, Landsize, Rooms, Bedroom2, Bathroom yang sudah di scaling.

## Step 

1. Drop all missing value
2. Cek outliers tiap feature
3. Scaling sesuai kondisi feature
4. Simpan dalam df_ready